@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

//mobile
@media only screen and (min-width: 0px) and (max-width: 600px) {
}
//tablet
@media only screen and (min-width: 600px) and (max-width: 1200px) {
}
//desktop
@media only screen and (min-width: 1201px) {
  .main-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    .left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .gridDiv {
        margin: auto;
        width: 90vmin;
        height: 90vmin;
        display: grid;
        grid-template-rows: repeat(50, 1fr);
        .rowDiv {
          display: grid;
          grid-template-columns: repeat(50, 1fr);
          max-height: calc(90vw / 50);
        }

        .cellDiv {
          background-color: green;
          max-height: calc(90vw / 50);
          cursor: pointer;
        }

        .cellDiv {
          border: 0.1vh solid black;
          background-color: green;
          max-height: calc(85vw / 50);
        }

        .awake {
          background: linear-gradient(90deg, #3a6186, #89253e);
          background-attachment: fixed;
          background-size: 50%;
        }

        .asleep {
          background-color: rgb(39, 39, 39);
        }
      }
    }
    .right {
      width: 50%;
      height: 100%;
      .header-wrapper {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .img {
          background-image: url("../img/logo.png");
          width: 10rem;
          height: 10rem;
          background-size: cover;
        }
        h1 {
          color: white;
          font-size: 3rem;
        }
      }
      .bottom {
        display: flex;
        margin: 5rem auto;
        button {
          margin: 1rem;
        }
      }
      .settings-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 80%;
        height: 40vh;
        background: rgb(22, 22, 22);
        color: white;
        position: relative;
        .setting-wrapper {
          margin: 2rem auto;
          display: flex;
          justify-content: center;
          width: 80%;
          label {
            white-space: nowrap;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
