@import "global";

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background: rgb(49, 49, 49);
}

@media only screen and (min-width: 1201px) {
  html,
  body {
    overflow-x: hidden !important;
    overflow-y: hidden;
  }
}
